<!-- <p>userlayout works!</p>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bus Reservation Userdashboard</a>
      </div>
      <ul class="nav navbar-nav">
         <li><a routerLink="AdminCrud">Admin</a></li>
         <li><a routerLink="SeatBooking">Seat Book</a></li>
         <li><a routerLink="busSelect">Bus Select</a></li>

        <app-bus-enquiry></app-bus-enquiry>
  
        <li><a (click)="logOff()">LogOff</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div> -->
<p>Hey!!!</p>
  <app-admincrud></app-admincrud>
  <!-- <app-bus-enquiry></app-bus-enquiry>
  <p>Hey</p> 
  <app-seatmapreservation></app-seatmapreservation>
   <app-registration></app-registration>  -->



<!-- <div class="topnav"> -->
  <!-- <img src="src/assets/images/bus.jpg" alt="Bus">  -->
 <!-- <a routerlink="Home">Home</a>
  <a routerlink="Login">Login</a>
  <a routerlink="Registration">Register Here/a>

  <p>HEyy!!!</p>
   
 <ul class="nav navbar-nav nabar-right">
   <li><a routerLink="AdminCrud">Admin</a></li>
   <li><a routerLink="SeatBooking">Seat Book</a></li>
   <li><a routerLink="busSelect">Bus Select</a></li>
 </ul>
<app-admincrud></app-admincrud>
 <app-bus-enquiry></app-bus-enquiry>
 <p>Hey</p> -->
 <!-- <app-seatmapreservation></app-seatmapreservation> -->
  <!-- <app-registration></app-registration> -->


<!-- <div class="footer">
 <a routerlink="Aboutus">About Us</a>
 <a href="#">Terms Of Use</a>
 <a routerLink="Feedback" >FeedBack</a>
  <p>Copyright &#169; 2020 BusReservationTeam. All Rights Reserved </p>
  <p>We're Social! Connect with us on <i style="font-size:24px" class="fa">&#xf082;</i>
  </p>
</div>  - -->
<!-- <app-home></app-home> -->
<!-- <app-aboutus></app-aboutus> -->
<!-- <app-feedback></app-feedback> -->
<div>
  <router-outlet></router-outlet>
</div>
