<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Bus-Id</th>
                <th scope="col">Bus-Number</th>
                <th scope="col">Bus-Name</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Journey Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Time of Journey</th>
                <th scope="col">Available_number_of_seats</th>
                <th scope="col">Total_Tickets</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of bus ; let i=index">
                <th scope="row">{{b.Bus_Id}}</th>
                <td>{{b.Bus_Number}}</td>
                <td>{{b.Bus_Name}}</td>
                <td>{{b.Source_Station}}</td>
                <td>{{b.Destination}}</td>
                <td>{{b.Start_Date}}</td>
                <td>{{b.End_Date}}</td>
                <td>{{b.Journey_Time}}</td>
                <td>{{b.Available_number_of_seats}}</td>
                <td>{{b.Total_Tickets}}</td>
                <td><button type="submit" class="btn btn-danger" (click)="deleteBusbyID(b.Bus_Id)">Delete Bus
                        Data</button>&nbsp; &nbsp; &nbsp;
                    <button type="submit" class="btn btn-primary" (click)="editBusbyID(b.Bus_Id)">Edit Bus
                        Details</button></td>
            </tr>
        </tbody>
    </table>
</div>
<form #busform="ngForm">
    <div class="form-group ">
        <div class="col-sm-3">
            <label>Bus ID</label>
            <input type="text" class="form-control" name="Bus_Id" required [(ngModel)]="buses.Bus_Id" #Bus_Id=ngModel>
        </div>


        <div class="form-group col-sm-3">
            <label>Bus-Name</label>
            <input type="text" class="form-control" name="Bus_Name" required [(ngModel)]="buses.Bus_Name"
                #Bus_Name=ngModel>
        </div>
        <div class="form-group col-sm-3">
            <label>Bus-Number</label>
            <input type="number" class="form-control" name="Bus_Number" required [(ngModel)]="buses.Bus_Number"
                #Bus_number=ngModel>
        </div>
        <div class="form-group col-sm-3">
            <label>From</label>
            <input type="text" class="form-control" name="Source_Station" required [(ngModel)]="buses.Source_Station"
                #Source_Station=ngModel>
        </div>
        <div class="form-group col-sm-3">
            <label>To</label>
            <input type="text" class="form-control" name="Destination" required [(ngModel)]="buses.Destination"
                #Destination=ngModel>
        </div>
        <div class="form-group col-sm-3">
            <label>Journey Date</label>
            <input type="date" class="form-control" name="Start_Date" required [(ngModel)]="buses.Start_Date"
                #Start_Date=ngModel>
        </div>
        <div class="form-group col-sm-3">
            <label>End Date</label>
            <input type="date" class="form-control" name="End_Date" required [(ngModel)]="buses.End_Date"
                #End_Date=ngModel>
        </div>
        <div class="form-group col-sm-3">
            <label>Time of Journey</label>
            <input type="time" class="form-control" name="Journey_Time" required [(ngModel)]="buses.Journey_Time"
                #Journey_Time=ngModel>
        </div>
        <div class="form-group col-sm-3">
            <label>Number Of Seats</label>
            <input type="mumber" class="form-control" name="Available_number_of_seats" required
                [(ngModel)]="buses.Available_number_of_seats" #Available_number_of_seats=ngModel>
            <div class="row">
                <div class="form-group col-sm-3">

                    <button (click)="insertBus()">Add Bus</button>
                    <button (click)="updateBusbyID(buses)">Update Bus Data</button>
                </div>
            </div>
        </div>
