<p>admincrud works!</p>
<table>
    <thead class="thead-dark">
       <tr class="row-group">
         <th>Bus-Id</th>
         <th >Bus-Number</th>
         <th >Bus-Name</th>
         <th >From</th>
         <th >To</th>
         <th >Journey Date</th>
         <th >End Date</th>
         <th >Time of Journey</th>
         <th >Number of Seats</th>
 
        </tr>
     </thead>
     <tbody>
       <tr *ngFor="let b of bus ; let i=index">
         
         <td >{{b.Bus_Id}}</td>&nbsp; &nbsp;
         <td >{{b.Bus_Number}}</td>&nbsp; &nbsp;
         <td >{{b.Bus_Name}}</td>&nbsp; &nbsp;
         <td >{{b.Source_Station}}</td>&nbsp; &nbsp;
         <td >{{b.Destination}}</td>&nbsp; &nbsp;
         <td >{{b.Start_Date}}</td>&nbsp; &nbsp;
         <td >{{b.End_Date}}</td>&nbsp; &nbsp;
         <td>{{b.Journey_Time}}</td>&nbsp; &nbsp;
         <td >{{b.Available_number_of_seats}}</td>&nbsp; &nbsp;
         <!---<td><button type="submit" (click)="insertBus()">Add Bus</button></td>>-->
         <td><button type="submit" class="btn btn-danger" (click)="deleteBusbyID(b.Bus_Id)">Delete Bus Data</button></td>&nbsp; &nbsp; &nbsp;
         <td><button type="submit" class="btn btn-primary" (click)="editBusbyID(b.Bus_Id)">Edit Bus Details</button></td>
     
        </tr>
     </tbody>
 
 </table>
 <form #busform="ngForm">
     <div class="form-group col-sm-3">
         <label>Bus ID</label>
         <input type="text" class="form-control" name="Bus_Id" required [(ngModel)]="buses.Bus_Id" #Bus_Id=ngModel>
     </div>
     
     <div class="form-group col-sm-3">
         <label>Bus-Name</label>
         <input type="text" class="form-control" name="Bus_Name" required [(ngModel)]="buses.Bus_Name" #Bus_Name=ngModel>
     </div>
     <div class="form-group col-sm-3">
         <label>Bus-Number</label>
         <input type="number" class="form-control" name="Bus_Number" required [(ngModel)]="buses.Bus_Number"
             #Bus_number=ngModel>
     </div>
     <div class="form-group col-sm-3">
         <label>From</label>
         <input type="text" class="form-control" name="Source_Station" required [(ngModel)]="buses.Source_Station"
             #Source_Station=ngModel>
     </div>
     <div class="form-group col-sm-3">
         <label>To</label>
         <input type="text" class="form-control" name="Destination" required [(ngModel)]="buses.Destination"
             #Destination=ngModel>
     </div>
     <div class="form-group col-sm-3">
         <label>Journey Date</label>
         <input type="date" class="form-control" name="Start_Date" required [(ngModel)]="buses.Start_Date" #Start_Date=ngModel>
     </div>
     <div class="form-group col-sm-3">
         <label>End Date</label>
         <input type="date" class="form-control" name="End_Date" required [(ngModel)]="buses.End_Date" #End_Date=ngModel>
     </div>
     <div class="form-group col-sm-3">
         <label>Time of Journey</label>
         <input type="time" class="form-control" name="Journey_Time" required [(ngModel)]="buses.Journey_Time" #Journey_Time=ngModel>
     </div>
     <div class="form-group col-sm-3">
         <label>Number Of Seats</label>
         <input type="mumber" class="form-control" name="Available_number_of_seats" required
             [(ngModel)]="buses.Available_number_of_seats" #Available_number_of_seats=ngModel>
         <div class="row">
             <div class="form-group col-sm-3">
                 
                 <button (click)="insertBus()">Add Bus</button>
                 <button (click)="updateBusbyID(buses)">Update Bus Data</button>
             </div>
         </div>
     </div>
 </form>
 